[run]
branch = True
omit = *migrations*,
       *urls*,
       *test*,
       *admin*,
       ./{{ cookiecutter.app_name }}/config/*,
       ./{{ cookiecutter.app_name }}/manage.py,
       ./{{ cookiecutter.app_name }}/wsgi.py,
       *__init__*
