name: CI
on:
  push:
    branches: master
  pull_request:
    branches: master
jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./piedpiper-web
  
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
    
    - name: Scaffold Project
      working-directory: ./
      run: |
        python -m pip install --upgrade pip
        pip install --user cookiecutter
        cookiecutter gh:agconti/cookiecutter-django-rest --no-input
    - name: Start docker-compose
      run: docker compose up -d
    
    - name: Run Web tests
      run: docker compose run --rm web bash -c "flake8 . &&
                                                python3 wait_for_postgres.py &&
                                                python3 -Wall ./manage.py check --deploy &&
                                                python3 -m pytest"
